.img-fluid{
    width: 90vw;
    margin-left: 0vw;
    height: 95vh;
}
/* Bottom right text */
.text-block {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    top: 37vh;
    left: 35vw;
    background-color:rgb(235 78 45);
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    /* color: rgb(235 78 45); */
}

.video-section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 5vh;
    margin-bottom: 5vh;
}
/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .img-fluid{
        /* width: 100vw; */
        width: 90vw;
        margin-left: 0vw;
        height: 45vh;
    }
    .text-block {
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        top: 26vh;
        left: 6vw;
        background-color: rgb(235 78 45);
        color: white;
        border-radius: 25px;
        text-transform: uppercase;
        /* color: rgb(235 78 45); */
        width: 49vh;
        height: 123px;
    }
  }